.bodyIndex {
  /* דף ראשי */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.regOrSign {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* עיצוב כללי עבור כל התוכן עם הקלאס home */
.home {
  font-family: 'Arial', sans-serif; /* הגדרת גופן */
  color: #fcf8f8; /* צבע טקסט כהה לקריאות טובה */
  line-height: 1.6; /* רווח בין השורות */
  margin: 20px; /* רווח פנימי */
  padding: 10px; /* רווחים פנימיים */
  text-align: center; /* מיישר את הכותרת במרכז */
}

/* עיצוב כותרת ראשית */
.home h1 {
  color: #1d3557; /* צבע כחול כהה לכותרת */
  font-size: 5vw; /* גודל גופן דינמי שמתעדכן לפי רוחב המסך */
  margin-bottom: 15px; /* רווח מתחת לכותרת */
  min-font-size: 24px; /* הגבלת גודל מינימלי לכותרת */
}

.home h1, .home h2, .home p {
  text-align: center;
}

/* עיצוב כותרת שנייה */
.home h2 {
  color: greenyellow;
  font-size: 2.5vw; /* גודל גופן דינמי */
  margin-top: 10px;
}

.link {
  color: blue; /* צבע כחול כמו קישור */
  text-decoration: underline; /* קו תחתון כמו קישור */
  cursor: pointer; /* משתנה לאצבע בעת ההצבעה */
}

.link:hover {
  color: darkblue; /* צבע כהה יותר כשמרחפים מעל הקישור */
}

/* עיצוב פסקאות */
.home p {
  font-size: 1.5vw; /* גודל טקסט סטנדרטי לפסקאות */
  color: #e77a43; /* צבע טקסט כהה קצת יותר */
  margin: 10px 0; /* רווח בין פסקאות */
}

/* צבעים שונים עבור הספנים */
.home p span:nth-child(1) {
  color: red;
}

.home p span:nth-child(2) {
  color: blue;
}

.home p span:nth-child(3) {
  color: green;
}

.home p span:nth-child(4) {
  color: purple;
}

.home p span:nth-child(5) {
  color: orange;
}

.home p span:nth-child(6) {
  color: rgb(132, 255, 0);
}

.home p span:nth-child(7) {
  color: rgb(66, 140, 231);
}

.home p span:nth-child(8) {
  color: rgb(132, 255, 0);
}

.home p span:nth-child(9) {
  color: rgb(66, 231, 72);
}

/* Media Queries */

/* מסכים בינוניים כמו טאבלטים */
@media (max-width: 1024px) { 
  .home h1 {
    font-size: 10vw; /* גודל טקסט קטן יותר בטאבלטים */
  }

  .home h2 {
    font-size: 5vw; /* גודל קטן יותר בכותרת שנייה */
  }

  .home p {
    font-size: 1.8rem; /* גודל קטן יותר לפסקאות */
  }

}

/* מסכים קטנים כמו סמארטפונים */
@media (max-width: 768px) { 
  .home h1 {
    font-size: 12vw; /* גודל קטן יותר בסמארטפונים */
  }

  .home h2 {
    font-size: 6vw; /* גודל קטן יותר בכותרת שנייה */
  }

  .home p {
    font-size: 1.5rem; /* גודל קטן יותר לפסקאות */
  }
}

/* מסכים מאוד קטנים כמו טלפונים ניידים */
@media (max-width: 480px) { 
  .home h1 {
    font-size: 6vw; /* גודל קטן מאוד בטלפונים */
    min-font-size: 24px; /* הגבלת גודל מינימלי לכותרת */
  }

  .home h2 {
    font-size: 5vw; /* גודל קטן מאוד בכותרת שנייה */
  }

  .home p {
    font-size: 1.2rem; /* גודל קטן יותר לפסקאות */
  }
}
